.card{
    justify-content: center;
    text-align: center;
    margin-bottom: 8%;
}
.card-body> div,button,p{
    margin: 3% !important;
    /* border: solid; */
}
.edit-delete-buttons{
    flex-wrap: nowrap !important;
}
.edit-delete-buttons>div{
    padding: 0px !important;
}
img{
    max-height: 450px !important;
}
.card-title{
    font-size: 1.2rem;
    font-weight: 700;
}