
.input-box{
    width: 100% !important;
    padding: 1.475rem .75rem !important;
}
.search-box-container{
    padding-right: 0px !important;
}
.search-stars-container{
    display: flex;
    justify-content: center !important;
    padding-left: 0px !important;
}